{% extends 'layout.html' %}

{% block body %}
  <section id="banner" class="banner">
    <div class="bg-color">
      <div class="container">
        <div class="row">
          <div class="banner-info">
            <div class="banner-logo text-center">
              <img src="static/img/banner.png" width="150" class="img-responsive heart">
            </div>
            <div class="banner-text text-center">
              <h1 class="white animated zoomIn">Heart Care at your desk!</h1>
              <a href="#upload" class="btn btn-form">Upload Scan</a>
            </div>
            <div class="overlay-detail text-center">
              <a href="#about"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ banner-->

  <!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">About</h2>
            <hr class="botm-line">
            <br>
            <p class="h3 text-justify">Hridhyanam is an attempt to empower the medical industry with the prowess of Computer Vision. India is a country of 1.32 billion people and less than a 10,000 radiologists and the huge doctor-patient ratio discrepancy between the rural and urban areas doesn't help the  issue.</p>
            <p class="h3 text-justify">At Hridhyanam, we hope to reduce this issue by empowering the technician to screen for diseases by uploading the medical images. As a proof of concept  we have diagnosed a Cardiomegaly by processing the Chest Xrays.</p>
            <p class="h3 text-justify"> We aim to form an alliance between the analytical expertise of the man and the computing capabilities of the machine for these two, if coalesced, can truly provide healthcare and, in turn, heartcare at its best.</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ about-->

  <!--upload-->
  <section id="upload" class="section-padding">
  	<div class="container">
  		<div class="content">
  			<h2 class="ser-title">File Upload</h2>
  			<hr class="botm-line">
        <form action="{{url_for('upload')}}" method="post" enctype="multipart/form-data">
          <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <p class="text-center">Select image to upload:</p>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <input type="file" name="inputFile" id="inputFile" multiple="multiple">
                  </div>
          </div>
          <br>
          <div class="row">
              <div class="col-md-4 col-sm-4"></div>
              <div class="col-md-4 col-sm-4">
                <input type="submit" class="btn btn-form btn-block" style="background-color:#0cb8b6;color:white;" value="Upload" name="submit">
                <input type="hidden" value="" name="_token">
              </div>
          </div>
  			</form>
  			</div>
  	</div>
  </section>
  <!--/ upload-->

  <!--contact-->
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Contact us</h2>
          <hr class="botm-line">
        </div>
        <div class="col-md-4 col-sm-4">
          <h3>Contact Info</h3>
          <div class="space"></div>
          <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>info@hridhyanam.com</p>
          <div class="space"></div>
          <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+91 968574321</p>
        </div>
        <div class="col-md-8 col-sm-8 marb20">
          <div class="contact-info">
            <h3 class="cnt-ttl">Having Any Query?</h3>
            <div class="space"></div>
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="form-action">
                <button type="submit" class="btn btn-form">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
